.loading-screen {
  position: fixed;
  inset: 0;
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.loading-title {
  font-size: 80px;
  font-weight: 900;
  margin: 0;
  background-image: 
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Cpath fill='%232ab573' d='M0,100 C40,70 60,130 100,100 C140,70 160,130 200,100 L200,250 L0,250 Z'/%3E%3C/svg%3E"), 
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  background-size: 150px 200%, 100% 100%;
  background-repeat: repeat-x, no-repeat;
  background-position-x: 0, 0;
  background-position-y: var(--fill-level), 0;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: wave-animation 1.5s infinite linear;
}

.loading-info {
  display: flex;
  gap: 8px;
  color: white;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 500;
  padding-right: 10px;
}

.loading-percentage {
  font-variant-numeric: tabular-nums;
  width: 35px;
  text-align: right;
}

@keyframes wave-animation {
  0% { background-position-x: 0, 0; }
  100% { background-position-x: 150px, 0; }
}

@media (max-width: 768px) {
  .loading-title {
    font-size: 48px;
  }

  .loading-wrapper {
    align-items: center;
  }

  .loading-info {
    padding-right: 0;
    justify-content: center;
  }
}